body {
    background-color: #BADA55;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.5em;
    margin: 10vw;
}
img {
    border-radius: 50%;
    height: 200px;
    
  }
h1 {
    text-align: center;

}
 .rhs {
    text-align: right;
 }